<h2>Nueva contraseña</h2>

<form action="/api/sessions/reset-password" method="post">
    <input type="hidden" name="token" value="{{token}}">
    
    <input type="password" name="password" placeholder="Nueva contraseña" required>

    <button>Cambiar contraseña</button>
</form>